html, body {
  height: 90%;
  width: 90%;
  
  margin-left: 5%;
  margin-right: 5%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 /*   grid-gap: 0px;
 grid-auto-rows: minmax(100px, auto);  */
 
 
}


.one {
  grid-column: 1/span 4;
  grid-row: 1;
  background-image:url("images/desktop/image-header.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;


}
#caraspt{
  text-align: center;
  color: azure;
  font-size: 50px;
  margin-left: 25%;
  margin-left: 25%;
  
}
#carasp{
  color: azure;
  font-size: 150px;
  text-align:center;
  margin-left: 45%;
  margin-right: 45%;
}
.two {
  /*  grid-column-start:3;
  grid-column-end:4; */
  grid-column: 3/span 4;
  grid-row: 2;
  background-image:url("images/desktop/image-transform.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  background-size: cover;
}
.twoun {
  grid-column: 1/ span 2;
  grid-row: 2;
  text-align: justify;
  
  /* flex-direction: row;  */
  /* justify-content: space-between  */
  
}
.threeunp{
text-align: center;
margin: 5px auto;
margin-left: 20%;
margin-right: 20%;
}
nav{
  text-align: right;
}
#footnav{
  text-align: center;

}
li{
  display: inline;
  text-align:right ;
  color:white;
}
/* li:hover{ 
  display: inline;
  background-color: rgb(249, 249, 250);
  border:2px solid black;
  border-radius: 15%;
  padding: 2px;}*/

.dnav{
  display: inline;
  background-color: rgb(249, 249, 250);
  border:2px solid black;
  border-radius: 15%;
  padding: 5px;
  text-align:right;
  color: white;
  
  
}
.modessou{
display:inline;

}    
#bordercontac{
  background-color: white;
    
  color:black;
  border-radius: 25%;
  padding: 10px;
  
}
#e{
  display: block;
  text-align: left;
  color: white;
  font-size: large;
  
}
/*.fourentex{
  grid-column: 1/span 4;
  grid-row: 4;
  background-image:url("images/mobile/image-stand-out.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  background-size: cover;
  visibi

} */
.three {
  grid-column: 1/ span 2;
  grid-row: 3;
  background-image:url("images/desktop/image-stand-out.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
 
}

.paralignleft{
  text-align: left;
  display: block;
}
.threeun{
  grid-column: 3/ span 4;
  grid-row: 3;
  text-align: left;

  
}
.four {
  grid-column: 1/ span 2;
  grid-row: 4;
  background-image:url("images/desktop/image-graphic-design.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.five {
  grid-column: 3/ span 4;
  grid-row: 4;
  background-image:url("images/desktop/image-photography.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.six {
  grid-column: 1/ span 4;
  grid-row: 5;
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  text-align: center;
  
  /* flex-direction: row; */
  /* justify-content: space-between */
}
.imgsix{
  width: 80;
  height: 80;
  margin : 0 auto;
  border-radius: 50%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 3%;
 
  
}
h1{

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  
}
h2{

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  color: blue;
}
#textesti{

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;

}
.imgsi{
  width: 80;
  height: 80;
  margin : 0 auto;
  border-radius: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  display: inline;
  text-align: center;
}
.imgsid{
  width: 80;
  height: 80;
  margin : 0 auto;
  border-radius: 50%;
  margin-left: 11%;
  margin-right: 11%;
  margin-top: 5%;
  display: inline;
  text-align: center;
}
.imgsidl{
  width: 80;
  height: 80;
  margin : 0 auto;
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  display: inline;
  text-align: center;
}
.imgfoot{
  width: 3%;
  height: 10%;
  margin : 2px auto;  

}
.seven {
  grid-column:  1;
  grid-row: 6;
  background-image:url("images/desktop/image-gallery-milkbottles.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.ten {
  grid-column: 2;
  grid-row: 6;
  background-image:url("images/desktop/image-gallery-orange.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.eigt {
  grid-column:  3;
  grid-row: 6;
  background-image:url("images/desktop/image-gallery-cone.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.nine {
  grid-column: 4;
  grid-row: 6;
  background-image:url("images/desktop/image-gallery-sugarcubes.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  
 
}
.modessou{

  display: flex;
  flex-direction: row;
}
.eleven {
  grid-column: 1/span 4;
  grid-row: 7;
  background-color: #81DBC5;
  text-align: center;
}
/*sfvvfdwvfd  */
@media screen and (max-width: 720px) {
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 /*   grid-gap: 0px;
 grid-auto-rows: minmax(100px, auto);  */
 
}


.one {
  grid-column: 1/span 4;
  grid-row: 1;
  background-image:url("images/mobile/image-header.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;


}

.two {
  grid-column: 1/span 4;
  grid-row: 2;
  background-image:url("images/mobile/image-transform.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  background-size: cover;

}

.twoun{
  grid-column: 1/span 4;
  grid-row: 3;
  text-align: center;

}
.three {
  grid-column: 1/ span 4;
  grid-row: 4;
  background-image:url("images/mobile/image-stand-out.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  background-size: cover;
  
 
}

.threeun{
  grid-column: 1/ span 4;
  grid-row: 5;
  text-align: left;

  
}
.threeunp{
text-align: center;
margin: 5px auto;
margin-left: 20%;
margin-right: 20%;
}

/*.four {
  grid-column: 1/ span 4;
  grid-row:7;
  background-image:url("images/desktop/image-graphic-design.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  visibility: visible;
}*/
.five {
  grid-column: 1/ span 4;
  grid-row: 6;
  background-image:url("images/desktop/image-graphic-design.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
 
}
.four{
  grid-column: 1/span 4;
  grid-row: 7;
  background-image:url("images/mobile/image-photography.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  background-size: cover;
  

}

.six {
  grid-column: 1/ span 4;
  grid-row: 8;
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  text-align: center;
  
  /* flex-direction: row; */
  /* justify-content: space-between */
}

.modessou{

  display: flex;
  flex-direction: column;
   text-align: center;

}

/*dcsdvgvdgb

:root{
  --hauteur-menu: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.sous-menu > li:hover > a {
  color: white;
}

/*dvsfvffbd*/


.seven {
  grid-column:  1/span 2;
  grid-row: 9;
  background-image:url("images/mobile/image-gallery-milkbottles.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.ten {
  grid-column: 3/span 4;
  grid-row: 9;
  background-image:url("images/mobile/image-gallery-orange.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.eigt {
  grid-column:  1/span 2;
  grid-row: 10;
  background-image:url("images/mobile/image-gallery-cone.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
}
.nine {
  grid-column: 3/span 4;
  grid-row: 10;
  background-image:url("images/mobile/image-gallery-sugar-cubes.jpg");
  background-size: 100% 100%; 
  background-repeat:no-repeat;
  
 
}

.eleven {
  grid-column: 1/span 4;
  grid-row: 11;
  background-color: #81DBC5;
  text-align: center;
}

/* sdzsrv */

}
